<h1>Edit User Profile <%= resource_name.to_s.humanize %></h1><br/><br/><br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%= f.label :first_name %></span><br />
        <%= f.text_field :first_name, required: true %>
      </div>
  </div>

  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%= f.label :last_name %></span><br />
        <%= f.text_field :last_name, required: true %>
      </div>
  </div>

  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%= f.label :email %></span><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%= f.label :password, "Enter New Password" %></span><br/>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

        <i>(leave blank if you don't want to change it)</i>

        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>     
    </div>

  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%= f.label :password_confirmation, "Re-enter Password" %></span><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
  </div>

  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%= f.label :current_password, "Old Password" %></span><br/>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
  </div>

  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%= f.label :about_me %></span><br />
        <%= f.text_area :content, required: true %>
      </div>
  </div>

   <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%= f.label :top_5_skills %></span><br />
        <%= f.select :skill_1, ['Angular', 'C++', 'C#', 'Objective C', 'Django', 'EmberJS', 'ExpressJS', 'HTML/CSS', 'Java', 'Javascript', 'Laravel', 'MongoDB', 'PHP', 'Postgres', 'Python', 'Rails', 'ReactJS', 'React Native', 'Ruby', 'VueJS'], {:prompt => 'Select Skill'}, {required: true} %>
        <%= f.select :skill_2, ['Angular', 'C++', 'C#', 'Objective C', 'Django', 'EmberJS', 'ExpressJS', 'HTML/CSS', 'Java', 'Javascript', 'Laravel', 'MongoDB', 'PHP', 'Postgres', 'Python', 'Rails', 'ReactJS', 'React Native', 'Ruby', 'VueJS'], {:prompt => 'Select Skill'}, {required: true} %>
        <%= f.select :skill_3, ['Angular', 'C++', 'C#', 'Objective C', 'Django', 'EmberJS', 'ExpressJS', 'HTML/CSS', 'Java', 'Javascript', 'Laravel', 'MongoDB', 'PHP', 'Postgres', 'Python', 'Rails', 'ReactJS', 'React Native', 'Ruby', 'VueJS'], {:prompt => 'Select Skill'}, {required: true} %>
        <%= f.select :skill_4, ['Angular', 'C++', 'C#', 'Objective C', 'Django', 'EmberJS', 'ExpressJS', 'HTML/CSS', 'Java', 'Javascript', 'Laravel', 'MongoDB', 'PHP', 'Postgres', 'Python', 'Rails', 'ReactJS', 'React Native', 'Ruby', 'VueJS'], {:prompt => 'Select Skill'}, {required: true} %>
        <%= f.select :skill_5, ['Angular', 'C++', 'C#', 'Objective C', 'Django', 'EmberJS', 'ExpressJS', 'HTML/CSS', 'Java', 'Javascript', 'Laravel', 'MongoDB', 'PHP', 'Postgres', 'Python', 'Rails', 'ReactJS', 'React Native', 'Ruby', 'VueJS'], {:prompt => 'Select Skill'}, {required: true} %>
      </div>
  </div><br/><br/>

  <div class="actions btn btn-outline-success">
    <%= f.submit "Save Changes" %>
  </div>

  <button type="button" class="btn btn-outline-danger">
    <%= link_to 'Back', :back, class:'backlink' %>
  </button>
<% end %>

<%# <h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>


