<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, {required: true} %>
  </div>

  <div class="field">
    <%= form.label :date_start %>
    <%= form.date_select(:date_start, {prompt: {day: 'Select day', month: 'Select month', Year: 'Select year'}}, {required: true}) %>
    
  </div>

  <div class="field">
    <%= form.label :time_from %>
    <%= form.time_select(:time_from, {ampm:true}, {required: true}) %>
  </div>

  <div class="field">
    <%= form.label :time_to %>
    <%= form.time_select(:time_from, {ampm:true}, {required: true}) %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, {required: true} %>
  </div>

  <div class="field">
    <%= form.label :host_name %>
    <%= form.text_field :host_name, {required: true} %>
  </div>

  <div class="field">
    <%= form.label :host_contact %>
    <%= form.text_field :host_contact, {required: true} %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, {required: true} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
