<body>
<div class= "container">

<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><%= form.label :title, 'Event Name' %></span>
      <%= form.text_field :title, class: "form-control", placeholder: 'Event Name', required: true %>
    </div>
  </div>


   <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><%= form.label :date_start, 'Event Date' %></span>
      <%= form.date_select :date_start, class: "form-control" %>
    </div>
  </div>

   <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><%= form.label :time_from %></span>
      <%= form.time_select :time_from, class: "form-control" %>
    </div>
  </div>

   <div class="input-group mb-3">
    <div class="input-group-prepend time-input">
      <span class="input-group-text" id="basic-addon1"><%= form.label :time_to %></span>
      <%= form.time_select :time_to , class: "form-control" %>
    </div>
  </div>

   <div class="input-group mb-3">
    <div class="input-group-prepend time-input">
      <span class="input-group-text" id="basic-addon1"><%= form.label :location %></span>
      <%= form.text_field :location, class: "form-control", placeholder: 'Enter Location', required: true %>
    </div>
  </div>

   <div class="field">
      <%= form.hidden_field :host_id, :value => current_user.id, required: true %>
  </div>

   <div class="field">
      <%= form.hidden_field :host_name, :value => @user, required: true %>
  </div>

   <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><%= form.label :host_contact %></span>
      <%= form.text_field :host_contact, class: "form-control", placeholder: 'Enter Contact Detail', required: true %>
    </div>
  </div>

   <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><%= form.label :content, "Event Info" %></span>
      <%= form.text_area :content, class: "form-control", required: true %>
    </div>
  </div><br/>

  <div class="actions btn btn-outline-success">
    <%= form.submit 'Create Event' %>
  </div>

  <button type="button" class="btn btn-outline-danger">
    <%= link_to 'Back', events_path, class:'backlink' %>
  </button>

<% end %>

</div>
</body>


