
<h1>Planned Events</h1><br/>

<div class="container-fluid events-table centered">
  <div class="row">
    <div class= "offset-2 col-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Event</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              
              <td class="table-date">
                <p class="table-month"><%= event.date_start.strftime("%b") %></p>
                <p class="table-day"><%= event.date_start.strftime("%d") %></p>
              </td>

              <td class= "table-title"><%= event.title %></td>
              <td class= "table-time"><%= event.time_from.strftime("%H:%M %p") %></td>
              <td class= "table-time"><%= event.time_to.strftime("%H:%M %p") %></td>

              <td><%= link_to 'More Details', event, class: 'eventdetail' %></td>
              <%# <td><%= link_to 'Edit', edit_event_path(event) %><%#</td> %>
              <%#<td><%= link_to 'Remove Event', event, method: :delete, data: { confirm: 'Are you sure?' } %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<button type="button" class="btn btn-outline-success">
  <%= link_to 'New Event', new_event_path, class: 'newevent' %>
</button>

<button type="button" class="btn btn-outline-danger">
    <%= link_to 'Back', profile_user_path(@user), class:'backlink' %>
</button>




