
<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date start</th>
      <th>Time from</th>
      <th>Time to</th>
      <th>Location</th>
      <th>Host name</th>
      <th>Host contact</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.date_start %></td>
        <td><%= event.time_from %></td>
        <td><%= event.time_to %></td>
        <td><%= event.location %></td>
        <td><%= event.host_name %></td>
        <td><%= event.host_contact %></td>
        <td><%= event.content %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Delete Event', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
