<% @change = true %>

<% if @change == true %>
  <%= form_with url: join_path(@event.id), method: :post do |f| %>
    <%= f.submit "Join Event" %>
  <% end %> 
  <% @change = false %> 

<% else %>
  <%= form_with url: leave_path(@event.id), method: :post do |f| %>
    <%= f.submit "Leave Event" %>
  <% end %>  
  <% @change = true %>

<% end %><br/>

<%# /banana/:colour/:size banana_path
banana_path(colour: foo, size: bar) => params[:colour], params[:size] 
/events/:id
join_path(@event.id) => Event.find(params[:id]) %>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @event.date_start %>
</p>

<p>
  <strong>Time from:</strong>
  <%= @event.time_from %>
</p>

<p>
  <strong>Time to:</strong>
  <%= @event.time_to %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Host name:</strong>
  <%= @event.host_name %>
</p>

<p>
  <strong>Host contact:</strong>
  <%= @event.host_contact %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<br/><br/>

<h3>Attendees:</h3>
<ul>
  <% @event.users.each do |u| %>
    <li><%= u.first_name %> <%= u.last_name %></li>
  <% end %>
</ul>