
<div class= 'title-container'>
  <h2>
    <strong><%= @event.title %></strong>
  </h2>

  <div class="join-button">
    <% if @event.host_id != current_user.id %> 
      <% if @event.users.find_by(id: current_user.id) != nil %>
        <%= form_with url: leave_path(@event.id), method: :post do |f| %>
          <div class="actions btn btn-outline-success">
          <%= f.submit "Leave Event" %>
          </div>
        <% end %>  

      <% else %>
        <%= form_with url: join_path(@event.id), method: :post do |f| %>
          <div class="actions btn btn-outline-success">
          <%= f.submit "Join Event" %>
          </div>
        <% end %> 
      <% end %>
    <% else %>
    <% end %>
  </div>
</div><br/><br/><br/>

<div class= "date-time-container container-fluid">
  <div class= 'row'>
    <div class= "col event-date-time">
      <p>
        <strong>Event Date:</strong>
        <%= @event.date_start.strftime("%A") %>
        <%= @event.date_start.strftime("%d-%b-%Y") %>
      </p>
    </div>
    <div class= "col event-date-time">
      <p>
        <strong>From:</strong>
        <%= @event.time_from.strftime("%H:%M %p") %>
      </p>
    </div>
    <div class= "col event-date-time">
      <p>
        <strong>To:</strong>
        <%= @event.time_to.strftime("%H:%M %p") %>
      </p>
    </div>
  </div>
</div><br/>

<div class= "content-container container-fluid">
  <div class= "row">
    <div class= "col-6 offset-1">
      <div class="card text-center content-card">
        <div class="card-body">
          <p>
            <%= @event.content %>
          </p>
        </div>
      </div>
    </div>

    <div class= "col-3 offset-1">
      <div class="event-details card text-center host-card">
        <div class="card-body w-80">
          <p>
            <strong>Host name:</strong>
            <%= @event.host_name %>
          </p>
          <p>
            <strong>Host contact:</strong>
            <%= @event.host_contact %>
          </p>
          <p>
            <strong>Address:</strong>
            <%= @event.address %>
          </p>
          <div class='map'>
            <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@event.latitude},#{@event.longitude}&markers=#{@event.latitude},#{@event.longitude}&zoom=15&size=400x200&&key=AIzaSyBNEtdl8j7b-XMe4WP7YgTXEwx_0EpR7o4"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br/>


<%# <% if @event.users.find_by(id: current_user.id).first_name == @event.host_name %> 
<% if @event.host_id == current_user.id %>
  <div class="actions btn btn-info showbutton">
    <%= link_to 'Edit', edit_event_path(@event) %>
  </div> 
  <div class="actions btn btn-warning showbutton">
    <%= link_to 'Remove Event', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <div class="actions btn btn-danger showbutton">
    <%= link_to 'Back', events_path %>
  </div>
<% else %>
  <div class="actions btn btn-danger showbutton">
    <%= link_to 'Back', events_path %>
  </div>
<% end %><br/><br/><br/>

<div class= "attendees">
  <h3>Attendees:</h3>
  <div class= "row">
  <% @event.users.each do |u| %>
      <div class= "col-2 offset-1"><br/>
        <div class="card text-center profile-card">
          <div class="card-body">
            <%= u.first_name %> <%= u.last_name %>
            <%= link_to 'Info', profile_user_path(u.id) %>
          </div>
        </div>
      </div>
  <% end %>
  </div>   
</div>
